   body {
            font-family: Arial, sans-serif;
            margin-left: 5%;
            background-color:#D6F1FF;

        }
    div.container
      
     {
display:grid;
grid-template-columns:2fr 2fr 1fr;
gap:20px;
            font-family: Arial, sans-serif;
       
            background-color:#D001FF;
   text-align: center;
   margin-left: 2%;
   margin-right: 2%

        }


div.foto

 {
  
            background-color:#D6F1FF;
   text-align: center;
   margin-left: 2%;
   margin-right: 2%

        }

 
h1{
    border: 12px solid #007BC7;
 
    width: 0 auto;
    height: 0 auto;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 1%;
    margin-top: 2%;
 
    padding: 5%;
    background-color:  #7AB4FF;
    font-size:15px;
 
    text-align: center;
    font: 1em sans-serif;
    font-size: 40px;
    font-weight: bold;
    color:#FFFFFF ;

section.formulario{
 
   font: 1em sans-serif;
   margin-left: 170;
   margin-right: 170;
   padding: 5%;
   background-color: rgb(106, 123, 210)



 }



 }
 
 
 h2{
    border: 5px solid rgb(0, 0, 0);
 
    height: 50;
    margin-top: 30;
    margin-right: 170;
    margin-left: 170;
 
    padding: 2%;
    background-color: #a9adeb;
    font-size:10px;
 
    text-align: center;
    font: 1em sans-serif;
    font-size: 20px;
 }
 
 .div1{
 
 
    text-align: center;
    font-size: 15px;
    font: 1em sans-serif;
    font-weight: bold;
 
 
 }
 
section.hola1{
 
   display: grid;
   grid-template-columns: 2fr 2fr 1fr;
   gap: 20px;
   margin-right: 170;
   margin-left: 170;
   margin-top: 50;
 
}
 
div.columna1{
 
   text-align: justify;
   font: 1em sans-serif;
   margin-left: 20;
}
 
div.columna2{
 
   text-align: justify;
   font: 1em sans-serif;
   
}
 
 
 
 
div.columna3{
 
   text-align: justify;
   font: 1em sans-serif;
 
}
  
 
